<h1>Fancy Cocktail bar</h1>
<div class="container">
    <% @cocktails.each do |cocktail| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dof6x2xio/image/upload/v1616152624/cocktail_1_ezxjfn.jpg)">
        <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
      </div>
    <%end%>
</div>

<div>
  <%=cl_image_tag("https://res.cloudinary.com/dof6x2xio/image/upload/v1616152624/cocktail_1_ezxjfn.jpg")%>
</div>
<p><%= link_to "Add a new cocktail", new_cocktail_path %></p>
