<h1>Fancy Cocktail bar</h1>
<div class="container">
    <% @cocktails.each do |cocktail| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1536599424071-0b215a388ba7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80)">
        <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
      </div>
    <%end%>
</div>
<p><%= link_to "Add a new cocktail", new_cocktail_path %></p>
